<app-menu></app-menu>
<!-- Masthead-->

<!-- About-->
<section class="page-section bg-primary" id="about">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8 text-center">
                <h2 class="text-white mt-0">Chez BDZTech, nous avons ce qu'il vous faut ! </h2>
                <hr class="divider divider-light" />
                <p class="text-white-75 mb-4">Chez BDZTech, nous vous aidons à trouver le lieu idéal à louer. Découvrez nos offres dès maintenant pour créer votre avenir.!</p>
                <a class=" btn-light btn-xl" href="#portfolio" style="text-decoration: none;">Commencer!</a>
            </div>
        </div>
    </div>
</section>
<!-- Services-->

<!-- Portfolio-->
<div id="portfolio">
    <div class="container-fluid p-0">
        <div class="row g-0">
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box"routerLinkActive="active" routerLink="/details" title="Project Name">
                    <img class="img-fluid" src="assets/img/maison/maison1.png" alt="..." />
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">Maison à louer</div>
                        <div class="project-name">Villa</div>
                        <p>Une maison a vendre à sébénikoro</p>
                        <h1>40M fcfa/mois</h1>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" routerLinkActive="active" routerLink="/details" title="Project Name">
                    <img class="img-fluid" src="assets/img/maison/maison2.png" alt="..." />
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">Maison à louer</div>
                        <div class="project-name">Lafiabougou</div>
                        <p>3 chambres salon douche interieur avec une cuisine</p>
                        <h1>100K fcfa/mois</h1>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box"routerLinkActive="active" routerLink="/details" title="Project Name">
                    <img class="img-fluid" src="assets/img/maison/maison3.png" alt="..." />
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">Maison à louer</div>
                        <div class="project-name">Hamdallaye ACI 2000</div>
                        <p>5 chambres salon une douche interieur avec une cuisine</p>
                        <h1>150K fcfa/mois</h1>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" routerLinkActive="active" routerLink="/details" title="Project Name">
                    <img class="img-fluid" src="assets/img/maison/maison4 1.png" alt="..." />
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">Maison à louer</div>
                        <div class="project-name">Lafiabougou</div>
                        <p>3 chambres salon douche interieur avec une cuisine</p>
                        <h1>100K fcfa/mois</h1>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" routerLinkActive="active" routerLink="/details" title="Project Name">
                    <img class="img-fluid" src="assets/img/maison/maison5 1.png" alt="..." />
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">Maison à louer</div>
                        <div class="project-name">Lafiabougou</div>
                        <p>3 chambres salon douche interieur avec une cuisine</p>
                        <h1>100K fcfa/mois</h1>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" routerLinkActive="active" routerLink="/details" title="Project Name">
                    <img class="img-fluid" src="assets/img/maison/maison6 1.png" alt="..." />
                    <div class="portfolio-box-caption p-3">
                        <div class="project-category text-white-50">Maison à louer</div>
                        <div class="project-name">Lafiabougou</div>
                        <p>3 chambres salon douche interieur avec une cuisine</p>
                        <h1>100K fcfa/mois</h1>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>