<app-menu></app-menu>
<img src="../../assets/img/bg-masthead.jpg" alt="" style="height: 90px; width: 100%; object-fit: cover;">
<div class="py-3" style="width: 90%; margin-left: auto; margin-right: auto;">
    <h1 class="text-center">La liste de mes réservations</h1>

    <table class="table project-list-table table-nowrap align-middle table-borderless" style="box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;">
        <thead>
            <!-- ----------------------- Tittre tableau en haut---------------------------
    --------------------------------------------------- -->
            <tr class=" text-light" style="background-color: #084B9D;">
                <th scope="col">N°.</th>
                <th scope="col">Photo</th>
                <th scope="col">Nom</th>
                <th scope="col">Prenom</th>
                <th scope="col">Email</th>
                <th scope="col">Telephone</th>
                <th scope="col">Statut</th>
                <th scope="col">Action</th>
            </tr>
            <!-- ----------------------- Fin Tittre tableau en haut---------------------------
    --------------------------------------------------- -->
        </thead>
        <tbody class="text-dark">
            <!-- ----------------------- Liste Element tableau start---------------------------
    --------------------------------------------------- -->
            <tr>
                <td>
                    <p class="text-body mb-0"> i+1 </p>
                </td>
                <td>
                    <p class="text-body mb-0"><img src=" ../../assets/img/profil.jpg" alt=""></p>

                <td>
                    <p class="text-body mb-0"> users.nom </p>
                </td>
                <td>
                    <p class="text-body mb-0"> users.prenom </p>
                </td>
                <td>
                    <p class="text-body mb-0"> users.email </p>
                </td>
                <td>
                    <p class="text-body mb-0">sers.numero</p>
                </td>
                <td>
                    <p class="text-body mb-0">Utilisateur</p>
                </td>
                <td>
                    <p class="text-body mb-0"><button>Banir</button>
                    </p>
                </td>
                

            </tr>
            <tr>
                <td>
                    <p class="text-body mb-0"> i+1 </p>
                </td>
                <td>
                    <p class="text-body mb-0"><img src=" ../../assets/img/profil.jpg" alt=""></p>

                <td>
                    <p class="text-body mb-0"> users.nom </p>
                </td>
                <td>
                    <p class="text-body mb-0"> users.prenom </p>
                </td>
                <td>
                    <p class="text-body mb-0"> users.email </p>
                </td>
                <td>
                    <p class="text-body mb-0">sers.numero</p>
                </td>
                <td>
                    <p class="text-body mb-0">Utilisateur</p>
                </td>
                <td>
                    <p class="text-body mb-0"><button>Banir</button>
                    </p>
                </td>

            </tr>
            <tr>
                <td>
                    <p class="text-body mb-0"> i+1 </p>
                </td>
                <td>
                    <p class="text-body mb-0"><img src=" ../../assets/img/profil.jpg" alt=""></p>

                <td>
                    <p class="text-body mb-0"> users.nom </p>
                </td>
                <td>
                    <p class="text-body mb-0"> users.prenom </p>
                </td>
                <td>
                    <p class="text-body mb-0"> users.email </p>
                </td>
                <td>
                    <p class="text-body mb-0">sers.numero</p>
                </td>
                <td>
                    <p class="text-body mb-0">Utilisateur</p>
                </td>
                <td>
                    <p class="text-body mb-0"><button>Banir</button>
                    </p>
                </td>

            </tr>
            <tr>
                <td>
                    <p class="text-body mb-0"> i+1 </p>
                </td>
                <td>
                    <p class="text-body mb-0"><img src=" ../../assets/img/profil.jpg" alt=""></p>

                <td>
                    <p class="text-body mb-0"> users.nom </p>
                </td>
                <td>
                    <p class="text-body mb-0"> users.prenom </p>
                </td>
                <td>
                    <p class="text-body mb-0"> users.email </p>
                </td>
                <td>
                    <p class="text-body mb-0">sers.numero</p>
                </td>
                <td>
                    <p class="text-body mb-0">Utilisateur</p>
                </td>
                <td>
                    <p class="text-body mb-0"><button>Banir</button>
                    </p>
                </td>

            </tr>

            
            
            <!-- ----------------------- Fin Element liste tableau---------------------------
    ----------------------------------------------------------------------------- -->


        </tbody>
    </table>
</div>
<app-footer></app-footer>