<app-menu></app-menu>
<!-- Masthead-->

<!-- About-->
<section class="page-section bg-primary" id="about">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8 text-center">
                <h2 class="text-white mt-0">Nous avons ce qu'il vous faut !</h2>
                <hr class="divider divider-light" />
                <p class="text-white-75 mb-4">Votre rêve de posséder un terrain ou une maison devient réalité. 
                    Notre société est à votre disposition pour vous aider à trouver le terrain ou la maison de vos rêves, 
                    ainsi que pour répondre à vos besoins en matière de commerce général . Explorez nos offres dès maintenant et
                     construisez l'avenir que vous méritez!</p>
                <a class=" btn-light btn-xl" href="#portfolio" style="text-decoration: none;">Commencer!</a>
            </div>
        </div>
    </div>
</section>
<!-- Services-->

<!-- Portfolio-->
<div id="portfolio">
    <div class="container-fluid p-0">
        <div class="row g-0">
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="assets/img/portfolio/fullsize/1.jpg" title="Project Name">
                    <img class="img-fluid" src="assets/img/maison/maison1.png" alt="..." />
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">Maison à vendre</div>
                        <div class="project-name">Villa</div>
                        <p>Une maison a vendre à sébénikoro</p>
                        <h1>40M fcfa</h1>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="assets/img/portfolio/fullsize/2.jpg" title="Project Name">
                    <img class="img-fluid" src="assets/img/maison/maison2.png" alt="..." />
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">Maison à vendre</div>
                        <div class="project-name">Villa</div>
                        <p>Une maison a vendre à Hamdallaye ACI</p>
                        <h1>400M fcfa</h1>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="assets/img/portfolio/fullsize/3.jpg" title="Project Name">
                    <img class="img-fluid" src="assets/img/maison/maison3.png" alt="..." />
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">Maison à vendre</div>
                        <div class="project-name">Villa</div>
                        <p>Une maison a vendre à Daoudabougou</p>
                        <h1>60M fcfa</h1>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="assets/img/portfolio/fullsize/4.jpg" title="Project Name">
                    <img class="img-fluid" src="assets/img/terrain/terrain1.png" alt="..." />
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">Terrain à vendre</div>
                        <div class="project-name">Notification</div>
                        <p>15/20 à sébénikoro</p>
                        <h1>5M fcfa</h1>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="assets/img/portfolio/fullsize/5.jpg" title="permis">
                    <img class="img-fluid" src="assets/img/terrain/terrain2.png" alt="..." />
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">Terrain à vendre</div>
                        <div class="project-name">Permis</div>
                        <p>15/20 à Lafiabougou</p>
                        <h1>20M fcfa</h1>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="assets/img/portfolio/fullsize/6.jpg" title="titre">
                    <img class="img-fluid" src="assets/img/terrain/terrain3.png" alt="..." />
                    <div class="portfolio-box-caption p-3">
                        <div class="project-category text-white-50">Terrain à vendre</div>
                        <div class="project-name">Titre</div>
                        <p>1 hectar à koursalé</p>
                        <h1>20M fcfa</h1>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>